@font-face {
    src: url('../fonts/GLADES-DEMO.ttf');
    font-family: 'GLADES';
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

h2 {
    font-size: 1.5rem;
    padding: 0.625rem;
    background-color: RGBA(245, 222, 163, 0.5);
    margin: 1rem;
}

p {
    margin-top: 0;
    margin-bottom: 0;
}

.container {
    padding: 2rem;
    height: 100vh;

}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.hidden {
    display: none;
}

/* Landing Page */

#landing-page,
#tutorialModal,
#infoModal {
    background: url("../images/bldg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    height: 100vh;

}

#landing-page-menu {
    margin-top: 8rem;
}

#game-title {
    font-family: 'GLADES';
    font-size: 9rem;
    word-spacing: -3.125rem;
    height: 155px;
    text-align: center;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(254, 254, 254, 1);
    text-shadow: 4px 4px #C81912;
    margin-bottom: 5rem;
    -webkit-animation: focus-in-contract 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-contract 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.title-1 {
    padding: 28px 10px 0;
    color: #fefefe;
    font-size: 8rem;
}

.title-2 {
    background-color: #C81912;
    padding: 27px 10px 0;
    color: #050100;
    font-size: 8rem;
}

.landingbuttons {
    display: flex;
    flex-direction: column;
}


#landing-page-menu a,
span {
    transition: all 0.5s ease-in-out;
    text-decoration: none;
    color: #fefefe;
}

.two-button {
    margin: auto;
}

#soundButton,
#soundTimer {
    background-size: cover;
    border: 0.2rem solid #C81912;
}

.sound,
.information {

    border-radius: 2rem;
    background-color: rgba(5, 1, 0, 0.8);
    margin: auto 1rem;
    height: 3rem;
    width: 3rem;

}

.map-container {
    overflow: hidden;
    padding-bottom: 72.25%;
    position: relative;
    height: 0;
}

.map-container iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    border: 0;
}

.gm-style .place-card-medium {
    width: 100px;
    padding: 9px 11px 9px 11px;
}

.soundOn {
    background-image: url('../images/audio.png');
}

.soundOff {
    background-image: url('../images/noaudio.png');
}

#infoButton {
    background-size: cover;
    background-image: url('../images/info.png');
    border: 0.1rem solid #C81912;
}

#footer-text {
    font-size: 1rem;
    width: 28rem;
    /*  border: 0.1rem solid #C81912; */
    margin: auto;
    /*     box-shadow: 0 0rem 1.4rem 1rem rgba(254, 254, 254, 1);
 */
    box-shadow: 0 0.5rem 2rem 0rem rgba(254, 254, 254, 1);
    color: white;
    text-align: center;
}

.mainbutton {
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 18rem;
    text-align: center;
    border: 0.1rem solid #C81912;
    margin-bottom: 1rem;
    text-decoration: none;
    border-radius: 0.825rem;
    background-color: rgba(5, 1, 0, 0.8);
    color: black;
}

.mainbutton:hover {
    cursor: url('../images/cursor.cur'),
        default;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(248, 157, 19, 1);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.mainbutton[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

.btn {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 18rem;
    text-align: center;
    border: 0.1rem solid #56a5eb;
    margin-bottom: 1rem;
    text-decoration: none;
    border-radius: 0.825rem;
    background-color: #f5dea3;
    color: black;
    border: 1px solid red;
}



.btn:hover {
    cursor: url('../images/cursor.cur'),
        default;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.btn[disabled]:hover {
    cursor: not-allowed;
    box-shadow: none;
    transform: none;
}

/* Hover */

.hvr-rectangle-out:before {
    background: linear-gradient(60deg, black, #C81912, black);
    border-radius: 0.825rem;
    border: none;
    width: 18rem;

}

/* ----------------------------------------------
 * Generated by Animista on 2020-4-26 19:18:57
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

.gradient-border {
    --borderWidth: 3px;
    background: #1D1F20;
    position: relative;
    border-radius: var(--borderWidth);
}

.gradient-border:after {
    content: '';
    position: absolute;
    top: calc(-1 * var(--borderWidth));
    left: calc(-1 * var(--borderWidth));
    height: calc(100% + var(--borderWidth) * 2);
    width: calc(100% + var(--borderWidth) * 2);
    background: linear-gradient(60deg, black, #C81912, black);
    border-radius: calc(2 * var(--borderWidth));
    z-index: -1;
    animation: animatedgradient 4s ease alternate infinite;
    background-size: 300% 300%;
}


@keyframes animatedgradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#gamepage {
    background-image: url("../images/MH.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100vw 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    height: -webkit-fill-available;
    height: -moz-available;

}

.title-bar {

    letter-spacing: 5px;
    justify-content: center;
    margin-top: 3rem;
}

.title {

    font-size: 4rem;
    font-weight: 500;

    color: #fefefe;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(254, 254, 254, 1);
    padding: 0.5rem 0rem 0.5rem 1rem;
    line-height: 3.8rem;
}

.title span {
    color: #050100;
    background-color: #C81912;
    padding: 0 0.7rem;
}

.circle-logo {
    position: absolute;
    top: -12px;
    right: 5rem;
    margin-left: 3rem;
    font-size: 5rem;
    width: 11rem;
    height: 11rem;
    padding: 0;
    line-height: 160px;
    text-align: center;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(254, 254, 254, 1);
    color: white;
    border: 1px solid red;
}

#codename {
    text-align: center;
    color: #050100;
    margin-bottom: 1rem;
    font-size: 2rem;
    -webkit-box-shadow: 0px -7px 33px 0px rgba(200, 25, 18, 1);
    -moz-box-shadow: 0px -7px 33px 0px rgba(200, 25, 18, 1);
    box-shadow: 0px -7px 33px 0px rgba(200, 25, 18, 1);
    background: radial-gradient(circle, rgba(254, 254, 254, 1) 28%, rgba(5, 1, 0, 1) 80%);
}

.codename img {
    height: 3rem;
}

#question-box {
    width: 100%;
    text-align: center;
    margin-bottom: 1.7rem;
    color: white;
    background: linear-gradient(to right, #C81912, #050100);
}

.question-case {
    text-align: center;
    width: 50%;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(254, 254, 254, 1);
}

.answer-choice {
    flex-wrap: nowrap;
    margin: 0;
}

.button:active,
button:active,
.button:focus,
button:focus,
.button:hover,
button:hover {
    border: none !important;
    outline: none !important;
}

.choice-box {
    width: 100%;
    justify-content: space-evenly;
    margin: auto;
}

.choice-container {
    display: flex;
    margin-left: 20px;
    margin-bottom: 1rem;
    padding: 0;
    width: 25rem;
    text-align: center;
    font-size: 1rem;
    line-height: 0.5rem;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    border-radius: 300px;
    background-color: #fefefe;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 1.5rem;
    border-radius: 18.75rem;
    background-color: #C81912;
    color: #050100;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(248, 157, 19, 0.5);
    border: 0;
    background: radial-gradient(circle, rgba(200, 25, 18, 1) 44%, rgba(5, 1, 0, 1) 100%);
}

.choice-text {
    text-align: left;
    padding: 0.5rem 1rem;
    line-height: 1rem;
    width: 100%;
    background-color: transparent;
    border-top-right-radius: 0.825rem;
    border-bottom-right-radius: 0.825rem;
    border: 0;
}

button:disabled,
button[disabled] {
    cursor: not-allowed;
    opacity: 0.3;
    color: red;
}

.correct {
    border: 20mm ridge green;
    height: 100vh;

}

.correctanswer {
    background-color: green;
    border-radius: 0 300px 300px 0;
}

.incorrect {
    border: 20mm ridge red;
    height: 100vh;
}

.incorrectanswer {
    background-color: red;
    border-radius: 0 300px 300px 0;
}


/* Prize */

#prize {
    width: 200px;
    display: block;
    position: relative;
    /* margin-top: auto;
    margin-bottom: auto; */
    margin: 3%;
}

#prize::after {
    content: "";
    background: url('../images/moneystack.jpg') center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    opacity: .6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

/* INFO */

.info-box {
    justify-content: center;
    margin: 9px 0;
}

.info-prize {
    margin-left: 20px;
    text-align: center;
    font-size: 1rem;
    border: 0.1rem solid #C81912;
    border-radius: 10px;
    color: #fefefe;
    text-shadow: 2px 2px 5px red;
    animation-duration: 12s;
    animation-delay: 1s;
}

.info-prize img {
    height: 40px;
    width: 40px;
}

.info-prize-correct {
    padding: 0.25rem 0.85rem;
    border-radius: 18.75rem;
    background-color: green;
    border: 0;
}

.info-prize-jackpot {
    color: red;
}

.two-info {
    padding: 10px;
    margin: 1%;
}

.info-timer {
    justify-content: center;
    margin-bottom: 15px;
    text-align: center;
    width: 13rem;
    font-size: 1rem;
    border: 0.1rem solid #C81912;
    padding: 5px;
    border-radius: 10px;
    background-color: #f5dea3;
    color: black;
    animation-duration: 12s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

.info-out {
    justify-content: center;
    margin-top: 15px;
    text-align: center;
    font-size: 1rem;
    border: 0.1rem solid #C81912;
    padding: 5px;
    border-radius: 10px;
    background-color: #f5dea3;
    color: black;
    animation-duration: 12s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

.info-strike {
    padding: 0.25rem 0.85rem;
    border-radius: 18.75rem;
    background-color: #C81912;
    border: 0;
}

.fa-hourglass-half {
    color: #C81912;
    -webkit-animation: fa-spin 2s linear infinite;
    animation: fa-spin 2s linear infinite;
}

.options-btn {

    margin: auto;
    font-size: 1rem;
    padding: 1rem 3rem;
    text-align: center;
    border: 0.1rem solid #56a5eb;
    text-decoration: none;
    border-radius: 0.825rem;
    background-color: #f5dea3;
    color: black;
    border: 1px solid red;

}

/* Modal */

#topscoreModal {
    background: url("../images/topscore.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.modal-title {
    font-size: 1.5rem;
}

.modal-content {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(254, 254, 254, 1);
    background: linear-gradient(to right, #C81912, #050100);
}

.modal-open {
    background-color: rebeccapurple;
}

.modal-header {
    background-color: rgba(5, 1, 0, 0.5);
    color: white;
}

.modal-mission {
    font-size: 15px;
}

.modal-body {
    background-color: rgba(5, 1, 0, 0.9);
    color: white;
}

.modal-backdrop {
    background: url("../images/congratulation.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.modal-codename {
    font-size: 1rem;
}

.modal-codename img {
    height: 5rem;
}

.modal-info img {
    box-shadow: 0 0 1rem 0 rgba(254, 254, 254, 1);
}

#myText {
    width: auto;
    margin-top: 5px;
}

#noName {
    color: #C81912;
    font-size: 1rem;
    font-weight: 500;
}

.modal-qoute {
    margin-top: 10px;
    padding: 10px;
    font-size: 70%;
}

.modal-btn-topscore-exit {
    display: inline-block;
    padding: 0.7em 2.5em;
    border-radius: 0.2em;
    background-color: #fefefe;
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
        inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
        inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
    color: #050100;
    font-weight: 600;
    font-size: 12px;
    background: rgb(254, 254, 254);
    background: radial-gradient(circle, rgba(254, 254, 254, 1) 32%, rgba(5, 1, 0, 1) 100%);
}

.modal-btn {
    font-weight: 600;
    font-size: 12px;
    display: inline-block;
    padding: 0.7em 2.5em;
    margin: 0 1em 0.3em 0;
    background-color: #C81912;
    color: #fefefe;
    background: rgb(200, 25, 18);
    background: radial-gradient(circle, rgba(200, 25, 18, 1) 58%, rgba(5, 1, 0, 1) 100%);
}

a.modal-btn:active {
    box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

@media all and (max-width:30em) {

    a.modal-btn,
    a.modal-btn-exit {
        display: block;
        margin: 0.4em auto;
    }
}

.modal-btn-exit {
    font-weight: 600;
    font-size: 12px;
    padding: 0.7em 2.5em;
    margin: 0 1em 0.3em 0;
    color: #050100;
    background-color: #fefefe;
    background: rgb(254, 254, 254);
    background: radial-gradient(circle, rgba(254, 254, 254, 1) 58%, rgba(5, 1, 0, 1) 100%);
}

a {
    text-decoration: none !important;
}

a:hover {
    box-shadow: 0 0.2rem 1rem 0 rgba(254, 254, 254, 1);
    color: black;
}

.modal-body-topscore {
    color: white;
    margin: 2rem 7rem 2rem;
    font-size: 0.8rem;
}


/*  @ Media Queries */

/* small/meduim devices (phones, 767px and down) */
@media only screen and (min-width: 200px) and (max-width: 767px) {

    #landing-page {
        overflow: auto;
    }

    #infoModal {
        overflow: auto;
    }

    .container {
        height: auto;
        padding: 0;
    }

    #landing-page-menu {
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    #game-title {
        display: contents;

    }

    .title-1 {
        font-size: 6rem;
    }

    .title-2 {
        font-size: 6rem;
    }

    .landingbuttons {
        margin-top: 4rem;
    }

    .title-bar img {
        margin-left: 2rem;
        position: inherit;
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background-color: transparent;
        box-shadow: 0 0.4rem 1.4rem 0 rgba(254, 254, 254, 1);
        color: white;
        border: 1px solid red;

    }

    .title-bar .title {
        margin: auto;
        padding: 0;
        width: auto;
        display: grid;
        text-align: center;
        font-size: 2rem;
        font-weight: 500;
        box-shadow: 0 0.4rem 1.4rem 0 rgba(254, 254, 254, 1);
    }

    #footer-text {
        width: auto;
        font-size: 80%;
    }

}

/* Small  tablets (portrait tablets and large phones, 600px and up) */
@media only screen and (min-device-width: 768px) and (max-device-width: 1023px) {

    #landing-page-menu {
        margin-top: 11rem;
    }


    #game-title {
        width: max-content;
    }

    #gamepage {
        background: url("../images/smscreen.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .title-1 {
        font-size: 6.5rem;
    }

    .title-2 {
        font-size: 6.5rem;
    }


    .title-bar,
    .title-bar img,
    .title {
        margin-top: 17rem;
        display: none;
    }

    .info-box {
        margin-bottom: 2rem;
        justify-content: space-between;
    }

    #prize {
        width: 215px;
        height: 85px;
        display: block;
        position: relative;
        margin-top: auto;
        margin-bottom: 2rem;
    }

    
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {

    #landing-page-menu {
        margin-top: 19rem;
    }

    #gamepage {
        background: url("../images/smscreen.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;


    }

    #game-title {
        width: max-content;
        word-spacing: -41px;
    }

    .title-1 {
        font-size: 8rem;
    }

    .title-2 {
        font-size: 8rem;
    }

    .title-bar,
    .title-bar img,
    .title {
        margin-top: 22rem;
        display: none;
    }

    .info-box {
        margin-bottom: 2rem;
        justify-content: space-between;
    }

    #prize {
        width: 215px;
        height: 85px;
        display: block;
        position: relative;
        margin-top: auto;
        margin-bottom: 2rem;
    }

}