#gamepage {
    background: url("/assets/Image/MH.jpg") no-repeat center center fixed;
    background-size: cover;
    height: auto;
    overflow: auto;
}

.title-bar {
    width: 100%;
    justify-content: space-between;
    letter-spacing: 5px;
    /* margin-top: 60px; */
    /*     background-color: #f5dea3;
 */
}

.title {
    width: 100%;
    height: 8rem;
    text-align: center;
    font-size: 5rem;
    font-weight: 500;
    /* margin: 0 20px 0; */
    margin-left: 6rem;
    color: #fefefe;
    /* background-color: rgb(5, 1 , 0, 0.5); */
}

.title span {
    color: #050100;
    background-color: #C81912;
}

.circle-logo {
    position: absolute;
    top: -12px;
    margin-left: 3rem;
    font-size: 5rem;
    width: 11rem;
    height: 11rem;
    padding: 0;
    line-height: 160px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50%;
    background-color: transparent;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(254, 254, 254, 1);
    color: white;
    border: 1px solid red;
}

#codename {
    text-align: center;
    color: white;
    margin-bottom: 3rem;
    font-size: 3rem;
    -webkit-box-shadow: 0px -7px 33px 0px rgba(200, 25, 18, 1);
    -moz-box-shadow: 0px -7px 33px 0px rgba(200, 25, 18, 1);
    box-shadow: 0px -7px 33px 0px rgba(200, 25, 18, 1);
}

.codename img {
    height: 4rem;
}

#question-box {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
    color: white;
    background: linear-gradient(to right, #C81912, #050100);
}

.question-case {
    text-align: center;
    width: 50%;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(254, 254, 254, 1);
}

.answer-choice {
    flex-wrap: nowrap;
    margin: 0;
}

.button:active, button:active, .button:focus, button:focus, .button:hover, button:hover {
    border: none !important;
    outline: none !important;
}

.choice-box {
    width: 100%;
    justify-content: space-evenly;
    margin-left: 0;
}

.choice-container {
    display: flex;
    margin-left: 20px;
    margin-bottom: 2rem;
    padding-left: 0;
    width: 25rem;
    text-align: center;
    font-size: 1.5rem;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    border-radius: 300px;
    /* border-radius: 0.825rem;*/
    background-color: #fefefe;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    /* border-top-left-radius: 0.825rem;
    border-bottom-left-radius: 0.825rem; */
    border-radius: 18.75rem;
    background-color: #C81912;
    color: #050100;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(248, 157, 19, 0.5);
    border: 0;
}

.choice-text {
    padding: 1.5rem;
    /*  width: 100%; */
    background-color: transparent;
    border-top-right-radius: 0.825rem;
    border-bottom-right-radius: 0.825rem;
    border: 0;
    /* color: #050100; */
}

.correct {
    /* background-color: #28a745; */
    border: 20mm ridge green;
}

.incorrect {
    /* background-color: #dc3545; */
    border: 20mm ridge red;
}

/*  INFO */

.info-box {
    /*  max-width: 90%; */
    justify-content: space-evenly;
    margin-left: 0;
    margin-top: 6%;
    margin-bottom: 6%;
}

/*----------------------------------------------Prize*/

#prize {
    width: 200px;
    display: block;
    position: relative;
}

#prize::after {
    content: "";
    background: url('/assets/Image/moneystack.jpg') center;
    background-repeat: no-repeat;
    background-size: 200px;
    border-radius: 10px;
    opacity: .8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.info-prize {
    /*  display: flex; */
    margin-left: 20px;
    margin-bottom: 20px;
    text-align: center;
    /* height: 146px; */
    font-size: 2rem;
    border: 0.1rem solid #C81912;
    padding: 5px;
    border-radius: 10px;
    background-color: #f5dea3;
    color: black;
    animation-duration: 12s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

.info-prize img {
    height: 40px;
    width: 40px;
}

.info-timer {
    display: flex;
    justify-content: center;
    /* margin: auto; */
    /* margin-left: 20px; */
    text-align: center;
    width: 13rem;
    font-size: 2rem;
    height: 4rem;
    border: 0.1rem solid #C81912;
    padding: 5px;
    border-radius: 10px;
    background-color: #f5dea3;
    color: black;
    animation-duration: 12s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

.fa-hourglass-half {
    color: #C81912;
    -webkit-animation: fa-spin 2s linear infinite;
    animation: fa-spin 2s linear infinite;
}

.options-btn {
    margin: 1rem;
    justify-content: space-evenly;
}

/*----------------------------------------------Modal*/

.modal-title {
    font-size: 1.5rem;
    fon
}

.modal-content {
    box-shadow: 0 0.4rem 1.4rem 0 rgba(254, 254, 254, 1);
    background: linear-gradient(to right, #C81912, #050100);
}

.modal-open {
    background-color: rebeccapurple;
}

.modal-header {
    background-color: rgba(5, 1, 0, 0.5);
    border: 0.1rem solid #C81912;
    color: white;
}

.modal-mission{
    font-size: 15px;
}

.modal-body {
    background-color: rgba(5, 1, 0, 0.9);
    color: white;
    border: 0.1rem solid #C81912;
}

.modal-backdrop {
    background: url("/assets/Image/congratulation.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.modal-codename {
    font-size: 1rem;
    margin-bottom: ;
}

#myText {
    width: auto;
    margin-top: 5px;
}

#noName {
    color: #C81912;
    font-size: 1rem;
    font-weight: 500;
}

.modal-qoute{
    padding: 10px;
}
.modal-btn{
    display:inline-block;
    padding:0.7em 1.7em;
    margin:0 0.5em 0.3em 0;
    border-radius:0.2em;
    box-sizing: border-box;
    background-color:#3369ff;
    box-shadow:inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
    inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
    inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
    text-align:center;
    position:relative;
}

 a.modal-btn:active {
    box-shadow: inset 0 0.6em 2em -0.3em rgba(0, 0, 0, 0.15), inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
}

@media all and (max-width:30em) {
    a.modal-btn,
    a.modal-btn-exit {
        display: block;
        margin: 0.4em auto;
    }
}

.modal-btn-exit {
    display: inline-block;
    padding: 0.7em 1.7em;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.2em;
    box-sizing: border-box;
    color: #FFFFFF;
    background-color: #C81912;
    box-shadow: inset 0 -0.6em 1em -0.35em rgba(0, 0, 0, 0.17),
        inset 0 0.6em 2em -0.3em rgba(255, 255, 255, 0.15),
        inset 0 0 0em 0.05em rgba(255, 255, 255, 0.12);
    text-align: center;
    position: relative;
}

a {
    text-decoration: none !important;
}

a:hover {
    box-shadow: 0 0.2rem 1rem 0 rgba(254, 254, 254, 1);
    color: white;
}