.title-bar {
    width: 100%;
    justify-content: space-between;
    /* margin-top: 60px; */
    background-color: #f5dea3;
}

.title {
    width: 100%;
    height: 8rem;
    text-align: center;
    font-size: 5rem;
    /* margin: 0 20px 0; */
    margin-left: 5rem;
    color: #050100;
}

.circle-logo {
    position: absolute;
    top: 12px;
    margin-left: 4rem;
    font-size: 5rem;
    width: 11rem;
    height: 11rem;
    padding: 0;
    line-height: 160px;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 50%;
    background-color: #C81912;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(254, 254 ,254, 1);
    color: white;
    border: 0;
}

#question-box{
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
}

.question-case {
    text-align: center;
    width: 50%;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.7);
}

.answer-choice {
    flex-wrap: nowrap;
    margin: 0;
}

.button:active, button:active, .button:focus, button:focus, .button:hover, button:hover {
    border: none !important;
    outline: none !important;
}

.choice-box {
    width: 100%;
    justify-content: space-evenly;
    margin-left: 0;
}

.choice-container {
    display: flex;
    margin-left: 20px;
    margin-bottom: 2rem;
    padding-left: 0;
    width: 25rem;
    text-align: center;
    font-size: 1.5rem;
    -webkit-border-radius: 300px;
    -moz-border-radius: 300px;
    border-radius: 300px;
    /*     border-radius: 0.825rem;*/
    background-color: #f5dea3;
}

.choice-container:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 rgba(86, 185, 235, 0.5);
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.choice-prefix {
    padding: 1.5rem 2.5rem;
    /* border-top-left-radius: 0.825rem;
    border-bottom-left-radius: 0.825rem; */
    border-radius: 18.75rem;
    background-color: #56a5eb;
    color: white;
    border: 0;
}

.choice-text {
    padding: 1.5rem;
   /*  width: 100%; */
    background-color: transparent;
    border-top-right-radius: 0.825rem;
    border-bottom-right-radius: 0.825rem;
    border: 0;
}

.correct {
    /* background-color: #28a745; */
     border: 20mm ridge green;
}

.incorrect {
    /* background-color: #dc3545; */
    border: 20mm ridge red;
}

/*  INFO */

.info-box {
    max-width: 90%;
    justify-content: space-between;
    margin-left: 0;
    margin-top: 6%;
    margin-bottom: 6%;
}

.info-prize {
    display: flex;
    margin-left: 20px;
    text-align: center;
    width: 22rem;
    font-size: 2rem;
    border: 2px solid #56a5eb;
    padding: 5px;
    border-radius: 10px;
    background-color: #f5dea3; 
    color: black;
    animation-duration: 12s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}   

.info-timer {
    display: flex;
    margin-left: 20px;
    text-align: center;
    width: 13rem;
    font-size: 2rem;
    height: 4rem;
    border: 2px solid #56a5eb;
    padding: 5px;
    border-radius: 10px;
    background-color: #f5dea3;
    color: black;
    animation-duration: 12s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

.options-btn {
    margin: 1rem;
    justify-content: space-evenly;
}